:root {
  --color-primary: #1abc9c;
  --color-primary-disabled: #22c1a1;
  --color-secondary: #01abc9;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  position: relative;
  z-index: -3;
}

#root {
  position: relative;
  z-index: -3;
}

p {
  line-height: 1.8;
}